<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fun Bet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico">

    <!-- build:css css/vendor.min.css -->
    <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">
    <!-- /build -->
    <!-- build:css css/elephant.min.css -->
    <link rel="stylesheet" href="{{ asset('css/elephant.css') }}">
    <!-- /build -->
    <!-- build:css css/application.min.css -->
    <link rel="stylesheet" href="{{ asset('css/application.css') }}">
    <!-- /build -->
</head>
<body class="layout">
<div class="layout-header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-center" href="/">FunBet Admin</a>
            <button class="navbar-toggler collapsed visible-xs-block" type="button" data-toggle="collapse" data-target="#sidenav">
                <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
            </button>
            <button class="navbar-toggler collapsed visible-xs-block" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="arrow-up"></span>
                <span class="ellipsis ellipsis-vertical"></span>
            </button>
        </div>
        <div class="navbar-toggleable">
            <nav id="navbar" class="navbar-collapse collapse">
                <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" type="button">
                    <span class="sr-only">Toggle navigation</span>
              <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
                </button>

            </nav>
        </div>
    </div>
</div>
<div class="layout-main">
    <div class="layout-sidebar">
        <div class="layout-sidebar-backdrop"></div>
        <div class="layout-sidebar-body">
            <nav id="sidenav" class="sidenav-collapse collapse">
                <ul class="sidenav">
                    <li class="sidenav-heading">Navigation</li>
                    <li class="sidenav-item">
                        <a href="/">
                            <span class="sidenav-icon icon icon-th"></span>
                            <span class="sidenav-label">Accueil</span>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="page-layouts.html">
                            <span class="sidenav-icon icon icon-columns"></span>
                            <span class="sidenav-label">Mes paris</span>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="page-layouts.html">
                            <span class="sidenav-icon icon icon-columns"></span>
                            <span class="sidenav-label">Contacter le support</span>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="page-layouts.html">
                            <span class="sidenav-icon icon icon-columns"></span>
                            <span class="sidenav-label">Page layouts</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="layout-content">

        <div class="layout-content-body">
            <div class="title-bar">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="layout-footer">
        <div class="layout-footer-body">
            <small><span class="icon icon-copyright"></span> FunBet 2017 - All rights reserved</small>
        </div>
    </div>
</div>
<div id="infoModalColoredHeader" tabindex="-1" role="dialog" class="modal fade" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Enregistrer votre paris</h4>
            </div>
            <div class="content-modal">
                <form class="form" id="fb_betbundle" method="post" style="min-height: 60px;">
                    <div class="form-group">
                        <label for="mise">Votre mise</label>
                        <input type="text" id="miseUser" name="mise" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-block col-xs-2" type="submit" id="envoyer" value="Envoyer" />
                    </div>

                </form>
            </div>

        </div>

        </div>
    </div>
</div>
<script src="{{ asset('js/vendor.min.js') }}"></script>
<script src="{{ asset('js/elephant.min.js') }}"></script>
<script src="{{ asset('js/application.min.js') }}"></script>
<script>
    var oddid = '';
    $('.odd').on('click', function(){
        oddid = $(this).data('id');
    });
    loader = "<div id='loader' class='spinner spinner-primary spinner-lg' style='position:relative;min-height:60px;display: none;'></div>";
    $('.content-modal').append(loader);


        $('#fb_betbundle').on('submit', function(e) {
            e.preventDefault();

            var $this = $(this);
                $.ajax({
                    url: window.location+'bet/new/'+oddid,
                    type: $this.attr('method'),
                    data:  "&mise="+$this.find('#miseUser').val(),
                    beforeSend: function() {
                        $('#fb_betbundle').hide();
                        $('#loader').show();
                    },
                    complete: function(){
                        $('#fb_betbundle').show();
                        $('#loader').hide();
                    },
                    success: function() {
                        $('#infoModalColoredHeader').modal('hide');

                    },
                    error: function(){
                        alert('Credit insuffisant');
                    }

                });

        });

</script>


</body>
</html>



