{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349">{{ nbUser }}</span>
                    </div>
                    <div class="desc"> Nouveaux utilisateurs </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5">{{ AmountBet|number_format(2, '.', ' ') }}</span> € </div>
                    <div class="desc"> Montant dépensé </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="549">{{ nbBet }}</span>
                    </div>
                    <div class="desc"> Nombre de paris </div>
                </div>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">

                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-futbol-o"></i> Prochains matchs </div>
                        <ul class="nav nav-tabs">
                            <li class="">
                                <a href="#portlet_tab_3" data-toggle="tab" aria-expanded="false"> Liga </a>
                            </li>
                            <li class="">
                                <a href="#portlet_tab_2" data-toggle="tab" aria-expanded="false">Premier League </a>
                            </li>
                            <li class="active">
                                <a href="#portlet_tab_1" data-toggle="tab" aria-expanded="true"> Ligue 1 </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_tab_1">
                                <table class="table text-center">
                                    <thead >
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th></th>
                                        <th class="text-center">1</th>
                                        <th class="text-center">Nul</th>
                                        <th class="text-center">2</th>
                                    </tr>
                                    </thead>
                                    {% for game in gamesLigue1 %}

                                        <tr>
                                            <td>{{ game.dateMatch|date("d-m-y à G:i ", "Europe/Paris") }}heures</td>
                                            <td class="text-left">

                                                <i class="fa fa-futbol-o"></i> <strong> {{ game.homeTeam }} - {{ game.awayTeam}}</strong>
                                            </td>
                                            {% for odd in game.odds %}
                                                <td class="text-center">
                                                    {%  if app.user != null %}
                                                        <button class="btn red-mint btn-outline sbold uppercase odd" data-id="{{ odd.id }}" data-toggle="modal" data-target="#infoModalColoredHeader" type="button" style="min-width:100%;">{{ odd.odd }}</button>
                                                    {% else %}
                                                        <button class="btn red-mint btn-outline sbold uppercase" type="button" style="min-width:100%;">{{ odd.odd }}</button>
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>

                                    {% endfor %}
                                </table>
                            </div>
                            <div class="tab-pane" id="portlet_tab_2">
                                <table class="table text-center">
                                    <thead >
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th></th>
                                        <th class="text-center">1</th>
                                        <th class="text-center">Nul</th>
                                        <th class="text-center">2</th>
                                    </tr>
                                    </thead>
                                    {% for game in gamesAnglais %}

                                        <tr>
                                            <td>{{ game.dateMatch|date("d-m-y à G:i ", "Europe/Paris") }}heures</td>
                                            <td class="text-left">

                                                <i class="fa fa-futbol-o"></i> <strong> {{ game.homeTeam }} - {{ game.awayTeam}}</strong>
                                            </td>
                                            {% for odd in game.odds %}
                                                <td class="text-center">
                                                    {%  if app.user != null %}
                                                        <button class="btn red-mint btn-outline sbold uppercase odd" data-id="{{ odd.id }}" data-toggle="modal" data-target="#infoModalColoredHeader" type="button" style="min-width:100%;">{{ odd.odd }}</button>
                                                    {% else %}
                                                        <button class="btn red-mint btn-outline sbold uppercase" type="button" style="min-width:100%;">{{ odd.odd }}</button>
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>

                                    {% endfor %}
                                </table>
                                </div>
                            <div class="tab-pane" id="portlet_tab_3">
                                <table class="table text-center">
                                    <thead >
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th></th>
                                        <th class="text-center">1</th>
                                        <th class="text-center">Nul</th>
                                        <th class="text-center">2</th>
                                    </tr>
                                    </thead>
                                    {% for game in gamesLiga %}

                                        <tr>
                                            <td>{{ game.dateMatch|date("d-m-y à G:i ", "Europe/Paris") }}heures</td>
                                            <td class="text-left">

                                                <i class="fa fa-futbol-o"></i> <strong> {{ game.homeTeam }} - {{ game.awayTeam}}</strong>
                                            </td>
                                            {% for odd in game.odds %}
                                                <td class="text-center">
                                                    {%  if app.user != null %}
                                                        <button class="btn red-mint btn-outline sbold uppercase odd" data-id="{{ odd.id }}" data-toggle="modal" data-target="#infoModalColoredHeader" type="button" style="min-width:100%;">{{ odd.odd }}</button>
                                                    {% else %}
                                                        <button class="btn red-mint btn-outline sbold uppercase" type="button" style="min-width:100%;">{{ odd.odd }}</button>
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>

                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                {% if app.user != null%}
                    <div id="userCredit">
                        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span >{{ app.user.credit|number_format(2,'.',' ') }}</span> € </div>
                                <div class="desc"> Votre crédit </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-users"></i>Classement des 10 meilleurs parieurs</div>
                        </div>
                        <div class="portlet-body">
                            <table class="table text-center">
                                <thead >
                                <tr>
                                    <th class="text-center">Pseudo</th>
                                    <th class="text-center">Crédit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.credit|number_format(2, '.', ' ') }} €</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                        </div>
                    </div>



            </div>
        </div>
    </div>





{% endblock %}

