{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <div class="">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div id="toast-container" class="toast-top-center">
                <div class="toast toast-success" aria-live="polite" style="display: block; opacity: 1;">
                    <button type="button" class="toast-close-button" role="button" onclick="$('#toast-container').hide();">×</button>
                    <div class="toast-message">Enregistré ! Votre bet a été modifié.</div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="row gutter-xs">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box red-sunglo">
                        <div class="portlet-title">

                            <div class="caption">
                                <i class="fa fa-gift"></i>Derniers Jackpots </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pseudo</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for winner in winners %}
                                    <tr>
                                        <td>{{ winner.id }}</td>
                                        <td>{% if winner.winner != null %}{{ winner.winner.username }}{% else %} Pas de gagnant pour l'instant{% endif %}</td>
                                        <td>{{ winner.value }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box red-sunglo">
                        <div class="portlet-title">

                            <div class="caption">
                                <i class="fa fa-gift"></i>Derniers Tickets </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Pseudo</th>
                                    <th>Message</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for support in supportMsg %}
                                    <tr>
                                        <td>{{ support.id }}</td>
                                        <td>{{ support.user.username }}</td>
                                        <td>{{ support.message }}</td>
                                       {% if support.status == 'Fermé' %}
                                           <td> <span class="label label-sm label-danger">{{ support.status }}</span></td>
                                           {% else %}
                                               <td><span class="label label-sm label-warning">{{ support.status }}</span></td>
                                               {% endif %}
                                        <td><a href="{{ path('reply_new', {'id' : support.id}) }}"><button class="btn btn-info">Répondre</button></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>


        </div>
        <div class="col-md-6">
            <div class="portlet box red-sunglo">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Derniers bet </div>
                </div>
                <div class="portlet-body"  style="">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Numero</th>
                            <th class="text-center">Username</th>
                            <th class="text-center">Montant</th>
                            <th class="text-center">Home</th>
                            <th class="text-center">Away</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for bet in bets %}
                            <tr>
                                <td>{{ bet.id }}</td>
                                <td>{{ bet.user.username }}</td>
                                <td>{{ bet.amount }} €</td>
                                <td>{{ bet.odd.game.homeTeam }}</td>
                                <td>{{ bet.odd.game.awayTeam }}</td>
                                <td>
                                    <a href="{{ path('admin_bet_cancel', {'id':bet.id}) }}" class="btn btn-danger btn-mini">Annuler</a>
                                    <a href="{{ path('admin_bet_edit', {'id':bet.id}) }}" class="btn btn-warning btn-mini">Editer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}