{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="row">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div id="toast-container" class="toast-top-center">
                <div class="toast toast-success" aria-live="polite" style="display: block; opacity: 1;">
                    <button type="button" class="toast-close-button" role="button" onclick="$('#toast-container').hide();">×</button>
                    <div class="toast-message">Enregistré ! Votre bet a été modifié.</div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="row gutter-xs">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">

                            <strong>Derniers reporting</strong>
                        </div>
                        <div class="card-body" data-toggle="match-height" style="height: 262px;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Campaign Name</th>
                                    <th>Link Clicks</th>
                                    <th>Reach</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">

                            <strong>Derniers reporting</strong>
                        </div>
                        <div class="card-body" data-toggle="match-height" style="height: 262px;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Campaign Name</th>
                                    <th>Link Clicks</th>
                                    <th>Reach</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>


        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <span class="icon icon-calculator"></span>
                    <strong>Derniers bets</strong>
                </div>
                <div class="card-body"  style="">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">Numero</th>
                            <th class="text-center">Username</th>
                            <th class="text-center">Montant</th>
                            <th class="text-center">Home</th>
                            <th class="text-center">Away</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for bet in bets %}
                            <tr>
                                <td>{{ bet.id }}</td>
                                <td>{{ bet.user.username }}</td>
                                <td>{{ bet.amount }} €</td>
                                <td>{{ bet.odd.game.homeTeam }}</td>
                                <td>{{ bet.odd.game.awayTeam }}</td>
                                <td>
                                    <a href="{{ path('admin_bet_cancel', {'id':bet.id}) }}" class="btn btn-danger btn-mini">Annuler</a>
                                    <a href="{{ path('admin_bet_edit', {'id':bet.id}) }}" class="btn btn-warning btn-mini">Editer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}