{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box ">
                <div class="widget-title bg_lo"> <span class="icon"> <i class="icon-chevron-down"></i> </span>
                    <h5>Derniers bets enregistrés</h5>
                </div>
                <div class="widget-content nopadding updates collapse in" id="collapseG3">
                    <table class="table table-bordered table-striped text-center">
                        <th>
                            <td>Utilisateur</td>
                            <td>Montant parié</td>
                            <td></td>
                            <td></td>
                            <td>Actions</td>
                        </th>
                        {% for bet in bets %}
                            <tr>
                                <td>{{ bet.id }}</td>
                                <td>{{ bet.user.username }}</td>
                                <td>{{ bet.amount }}</td>
                                <td>{{ bet.odd.game.homeTeam }}</td>
                                <td>{{ bet.odd.game.awayTeam }}</td>
                                <td>
                                    <a href="{{ path('admin_bet_cancel', {'id':bet.id}) }}" class="btn btn-danger btn-mini">Annuler</a>
                                    <a href="{{ path('admin_bet_edit', {'id':bet.id}) }}" class="btn btn-warning btn-mini">Editer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}