{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Bets list</h1>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Potentialwin</th>
                <th>Iswin</th>
                <th>Date</th>
                <th colspan="2">Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for bet in bets %}
            <tr>
                <td>{{ bet.amount }}</td>
                <td>{{ bet.potentialWin }}</td>
                <td>{% if bet.isWin %}Yes{% else %}No{% endif %}</td>
                <td>{% if bet.date %}{{ bet.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bet.odd.game.homeTeam }} -
                {{ bet.odd.game.awayTeam }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
