{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bet.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ bet.amount }}</td>
            </tr>
            <tr>
                <th>Potentialwin</th>
                <td>{{ bet.potentialWin }}</td>
            </tr>
            <tr>
                <th>Iswin</th>
                <td>{% if bet.isWin %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if bet.date %}{{ bet.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bet_edit', { 'id': bet.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
