{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ticketreply</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticketReply.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if ticketReply.date %}{{ ticketReply.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ ticketReply.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reply_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reply_edit', { 'id': ticketReply.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
